body{
    padding-top: 60px;
    height: 1000px;
    background-color: rgb(207, 207, 196);
    margin: 0;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    }

.header-container{
    display: grid;
    grid-template-columns: 50px 50px 50px;
    background-color: rgb(29, 28, 26);
    color: white;
    position:fixed;
    right: 0;
    top: 0;
    left: 0;
    height: 60px;
    box-shadow: 10px 10px 10px rgb(75, 74, 74);
    z-index: 1000;
}

.Icon-text{
    position: absolute;
    left: 20px;
    top: 0;
    font-family: "Fasthand", cursive;
    font-size: 30px;
    margin: 0;
}

.home-link{
    margin-left: 20px;
    margin-top: 20px;
    position: absolute;
    right: 220px;
}


.music-link{
    margin-left: 40px;
    margin-top: 20px;
    position: absolute;
    right: 120px;
}

.contact-link{
    margin-left: 60px;
    margin-top: 20px;
    position: absolute;
    right: 20px;
}

a:visited { 
    color: white;
}

.main-cards-container{
    margin-top: 50px;
    justify-content: space-between;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 250px;
    margin-left: 50px;
    margin-right: 50px;
    gap: 50px;
}



.songs{
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgb(75, 74, 74);
    position: relative;
}

.titel-container{
    text-align: center;
    margin-top: 50px;
}

.titel{
    font-size: 35px;
    font-family: "Fasthand", cursive;
}

